## @section Global
#
## @param global.imageRegistry global image registry override
## @param global.imagePullSecrets global image pull secrets override; can be extended by `imagePullSecrets`
## @param global.storageClass global storage class override
## @param global.hostAliases global hostAliases which will be added to the pod's hosts files
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  storageClass: ""
  hostAliases: []
  # - ip: 192.168.137.2
  #   hostnames:
  #   - example.com

service:
  ## @param service.http.type Kubernetes service type for web traffic
  ## @param service.http.port Port number for web traffic
  ## @param service.http.clusterIP ClusterIP setting for http autosetup for deployment is None
  ## @param service.http.loadBalancerIP LoadBalancer IP setting
  ## @param service.http.nodePort NodePort for http service
  ## @param service.http.externalTrafficPolicy If `service.http.type` is `NodePort` or `LoadBalancer`, set this to `Local` to enable source IP preservation
  ## @param service.http.externalIPs External IPs for service
  ## @param service.http.ipFamilyPolicy HTTP service dual-stack policy
  ## @param service.http.ipFamilies HTTP service dual-stack familiy selection,for dual-stack parameters see official kubernetes [dual-stack concept documentation](https://kubernetes.io/docs/concepts/services-networking/dual-stack/).
  ## @param service.http.loadBalancerSourceRanges Source range filter for http loadbalancer
  ## @param service.http.annotations HTTP service annotations
  ## @param service.http.labels HTTP service additional labels
  ## @param service.http.loadBalancerClass Loadbalancer class
  http:
    type: ClusterIP
    port: 3000
    clusterIP: 
  ## @param service.ssh.type Kubernetes service type for ssh traffic
  ## @param service.ssh.port Port number for ssh traffic
  ## @param service.ssh.clusterIP ClusterIP setting for ssh autosetup for deployment is None
  ## @param service.ssh.loadBalancerIP LoadBalancer IP setting
  ## @param service.ssh.nodePort NodePort for ssh service
  ## @param service.ssh.externalTrafficPolicy If `service.ssh.type` is `NodePort` or `LoadBalancer`, set this to `Local` to enable source IP preservation
  ## @param service.ssh.externalIPs External IPs for service
  ## @param service.ssh.ipFamilyPolicy SSH service dual-stack policy
  ## @param service.ssh.ipFamilies SSH service dual-stack familiy selection,for dual-stack parameters see official kubernetes [dual-stack concept documentation](https://kubernetes.io/docs/concepts/services-networking/dual-stack/).
  ## @param service.ssh.hostPort HostPort for ssh service
  ## @param service.ssh.loadBalancerSourceRanges Source range filter for ssh loadbalancer
  ## @param service.ssh.annotations SSH service annotations
  ## @param service.ssh.labels SSH service additional labels
  ## @param service.ssh.loadBalancerClass Loadbalancer class
  ssh:
    type: ClusterIP
    port: 22
    clusterIP: 

## @param namespace An explicit namespace to deploy gitea into. Defaults to the release namespace if not specified
namespace: "gitea"

## @param replicaCount number of replicas for the deployment
replicaCount: 1

## @param persistence.enabled Enable persistent storage
## @param persistence.create Whether to create the persistentVolumeClaim for shared storage
## @param persistence.mount Whether the persistentVolumeClaim should be mounted (even if not created)
## @param persistence.claimName Use an existing claim to store repository information
## @param persistence.size Size for persistence to store repo information
## @param persistence.accessModes AccessMode for persistence
## @param persistence.labels Labels for the persistence volume claim to be created
## @param persistence.annotations.helm.sh/resource-policy Resource policy for the persistence volume claim
## @param persistence.storageClass Name of the storage class to use
## @param persistence.subPath Subdirectory of the volume to mount at
## @param persistence.volumeName Name of persistent volume in PVC
persistence:
  enabled: true
  create: true
  mount: true
  claimName: gitea-shared-storage
  size: 10Gi
  accessModes:
    - ReadWriteMany
  storageClass: ceph-filesystem
  annotations:
    helm.sh/resource-policy: keep

# Configure commit/action signing prerequisites
## @section Signing
#
## @param signing.enabled Enable commit/action signing
## @param signing.gpgHome GPG home directory
## @param signing.privateKey Inline private gpg key for signed internal Git activity
## @param signing.existingSecret Use an existing secret to store the value of `signing.privateKey`
signing:
  enabled: false
  gpgHome: /data/git/.gnupg
  privateKey: ""
  # privateKey: |-
  #   -----BEGIN PGP PRIVATE KEY BLOCK-----
  #   ...
  #   -----END PGP PRIVATE KEY BLOCK-----
  existingSecret: ""

## @section Gitea
#
gitea:
  ## @param gitea.admin.username Username for the Gitea admin user
  ## @param gitea.admin.existingSecret Use an existing secret to store admin user credentials
  ## @param gitea.admin.password Password for the Gitea admin user
  ## @param gitea.admin.email Email for the Gitea admin user
  ## @param gitea.admin.passwordMode Mode for how to set/update the admin user password. Options are: initialOnlyNoReset, initialOnlyRequireReset, and keepUpdated
  admin:
    username: gitea_admin
    password: password
    email: "gitea@agent-est.com"
    passwordMode: initialOnlyRequireReset

  ## @param gitea.metrics.enabled Enable Gitea metrics
  ## @param gitea.metrics.token used for `bearer` token authentication on metrics endpoint. If not specified or empty metrics endpoint is public.
  ## @param gitea.metrics.serviceMonitor.enabled Enable Gitea metrics service monitor. Requires, that `gitea.metrics.enabled` is also set to true, to enable metrics generally.
  ## @param gitea.metrics.serviceMonitor.interval Interval at which metrics should be scraped. If not specified Prometheus' global scrape interval is used.
  ## @param gitea.metrics.serviceMonitor.relabelings RelabelConfigs to apply to samples before scraping.
  ## @param gitea.metrics.serviceMonitor.scheme HTTP scheme to use for scraping. For example `http` or `https`. Default is http.
  ## @param gitea.metrics.serviceMonitor.scrapeTimeout Timeout after which the scrape is ended. If not specified, global Prometheus scrape timeout is used.
  ## @param gitea.metrics.serviceMonitor.tlsConfig TLS configuration to use when scraping the metric endpoint by Prometheus.
  metrics:
    enabled: false
    token:
    serviceMonitor:
      enabled: false
      #  additionalLabels:
      #    prometheus-release: prom1
      interval: ""
      relabelings: []
      scheme: ""
      scrapeTimeout: ""
      tlsConfig: {}

  ## @param gitea.config.server.SSH_PORT SSH port for rootlful Gitea image
  ## @param gitea.config.server.SSH_LISTEN_PORT SSH port for rootless Gitea image
  config:
    #  APP_NAME: "Gitea: Git with a cup of tea"
    #  RUN_MODE: dev
    server:
      SSH_PORT: 22 # rootful image
      SSH_LISTEN_PORT: 2222 # rootless image
      DOMAIN: gitea.kube.home.agent-est.com
      ROOT_URL: https://gitea.kube.home.agent-est.com
  #
  #  security:
  #    PASSWORD_COMPLEXITY: spec

  ## @param gitea.additionalConfigSources Additional configuration from secret or configmap
  additionalConfigSources: []
  #   - secret:
  #       secretName: gitea-app-ini-oauth
  #   - configMap:
  #       name: gitea-app-ini-plaintext

  ## @param gitea.additionalConfigFromEnvs Additional configuration sources from environment variables
  additionalConfigFromEnvs: []

  ## @param gitea.podAnnotations Annotations for the Gitea pod
  podAnnotations: {}

  ## @param gitea.ssh.logLevel Configure OpenSSH's log level. Only available for root-based Gitea image.
  ssh:
    logLevel: "INFO"

  ## @section LivenessProbe
  #
  ## @param gitea.livenessProbe.enabled Enable liveness probe
  ## @param gitea.livenessProbe.tcpSocket.port Port to probe for liveness
  ## @param gitea.livenessProbe.initialDelaySeconds Initial delay before liveness probe is initiated
  ## @param gitea.livenessProbe.timeoutSeconds Timeout for liveness probe
  ## @param gitea.livenessProbe.periodSeconds Period for liveness probe
  ## @param gitea.livenessProbe.successThreshold Success threshold for liveness probe
  ## @param gitea.livenessProbe.failureThreshold Failure threshold for liveness probe
  # Modify the liveness probe for your needs or completely disable it by commenting out.
  livenessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

  ## @section ReadinessProbe
  #
  ## @param gitea.readinessProbe.enabled Enable readiness probe
  ## @param gitea.readinessProbe.tcpSocket.port Port to probe for readiness
  ## @param gitea.readinessProbe.initialDelaySeconds Initial delay before readiness probe is initiated
  ## @param gitea.readinessProbe.timeoutSeconds Timeout for readiness probe
  ## @param gitea.readinessProbe.periodSeconds Period for readiness probe
  ## @param gitea.readinessProbe.successThreshold Success threshold for readiness probe
  ## @param gitea.readinessProbe.failureThreshold Failure threshold for readiness probe
  # Modify the readiness probe for your needs or completely disable it by commenting out.
  readinessProbe:
    enabled: true
    tcpSocket:
      port: http
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3

  # # Uncomment the startup probe to enable and modify it for your needs.
  ## @section StartupProbe
  #
  ## @param gitea.startupProbe.enabled Enable startup probe
  ## @param gitea.startupProbe.tcpSocket.port Port to probe for startup
  ## @param gitea.startupProbe.initialDelaySeconds Initial delay before startup probe is initiated
  ## @param gitea.startupProbe.timeoutSeconds Timeout for startup probe
  ## @param gitea.startupProbe.periodSeconds Period for startup probe
  ## @param gitea.startupProbe.successThreshold Success threshold for startup probe
  ## @param gitea.startupProbe.failureThreshold Failure threshold for startup probe
  startupProbe:
    enabled: false
    tcpSocket:
      port: http
    initialDelaySeconds: 60
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

## @section valkey-cluster
## @descriptionStart
## Valkey cluster and [Valkey](#valkey) cannot be enabled at the same time.
## @descriptionEnd/
valkey-cluster:
  ## @param valkey-cluster.enabled Enable valkey cluster
  # ⚠️ The valkey charts do not work well with special characters in the password (<https://gitea.com/gitea/helm-chart/issues/690>).
  # Consider omitting such or open an issue in the Bitnami repo and let us know once this got fixed.
  ## @param valkey-cluster.usePassword Whether to use password authentication.
  ## @param valkey-cluster.usePasswordFiles Whether to mount passwords as files instead of environment variables.
  enabled: false
  usePassword: false
  usePasswordFiles: false

  ## @param valkey-cluster.image.repository Image repository, eg. `bitnamilegacy/valkey-cluster`.
  image:
    repository: bitnamilegacy/valkey-cluster

  ## @param valkey-cluster.cluster.nodes Number of valkey cluster master nodes
  ## @param valkey-cluster.cluster.replicas Number of valkey cluster master node replicas
  cluster:
    nodes: 3 # default: 6
    replicas: 0 # default: 1

  ## @param valkey-cluster.metrics.image.repository Image repository, eg. `bitnamilegacy/redis-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/redis-exporter

  ## @param valkey-cluster.service.ports.valkey Port of Valkey service
  service:
    ports:
      valkey: 6379

  ## @param valkey-cluster.sysctlImage.repository Image repository, eg. `bitnamilegacy/os-shell`.
  sysctlImage:
    repository: bitnamilegacy/os-shell

  ## @param valkey-cluster.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell


## @section valkey

## @descriptionStart
## Valkey and [Valkey cluster](#valkey-cluster) cannot be enabled at the same time.
## @descriptionEnd
valkey:
  ## @param valkey.enabled Enable valkey standalone or replicated
  ## @param valkey.architecture Whether to use standalone or replication
  enabled: true
  architecture: standalone

  ## @param valkey.kubectl.image.repository Image repository, eg. `bitnamilegacy/kubectl`.
  kubectl:
    image:
      repository: bitnamilegacy/kubectl

  ## @param valkey.image.repository Image repository, eg. `bitnamilegacy/valkey`.
  image:
    repository: bitnamilegacy/valkey

  # ⚠️ The valkey charts do not work well with special characters in the password (<https://gitea.com/gitea/helm-chart/issues/690>).
  # Consider omitting such or open an issue in the Bitnami repo and let us know once this got fixed.
  ## @param valkey.global.valkey.password Required password
  global:
    valkey:
      password: asdugkabjdnflofgsybksn

  ## @param valkey.master.count Number of Valkey master instances to deploy
  ## @param valkey.master.service.ports.valkey Port of Valkey service
  master:
    count: 1
    service:
      ports:
        valkey: 6379

  ## @param valkey.metrics.image.repository Image repository, eg. `bitnamilegacy/redis-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/redis-exporter

  ## @param valkey.sentinel.image.repository Image repository, eg. `bitnamilegacy/sentinel`.
  sentinel:
    image:
      repository: bitnamilegacy/valkey-sentinel

  ## @param valkey.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

## @section PostgreSQL HA
postgresql-ha:
  ## @param postgresql-ha.enabled Enable PostgreSQL HA
  enabled: false

  ## @param postgresql-ha.global.postgresql.database Name for a custom database to create (overrides `auth.database`)
  ## @param postgresql-ha.global.postgresql.username Name for a custom user to create (overrides `auth.username`)
  ## @param postgresql-ha.global.postgresql.password Name for a custom password to create (overrides `auth.password`)
  global:
    postgresql:
      database: gitea
      password: gitea
      username: gitea

  ## @param postgresql-ha.metrics.image.repository Image repository, eg. `bitnamilegacy/postgres-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter

  ## @param postgresql-ha.postgresql.image.repository Image repository, eg. `bitnamilegacy/postgresql-repmgr`.
  ## @param postgresql-ha.postgresql.repmgrPassword Repmgr Password
  ## @param postgresql-ha.postgresql.postgresPassword postgres Password
  ## @param postgresql-ha.postgresql.password Password for the `gitea` user (overrides `auth.password`)
  postgresql:
    image:
      repository: bitnamilegacy/postgresql-repmgr
    repmgrPassword: changeme2
    postgresPassword: changeme1
    password: changeme4

  ## @param postgresql-ha.pgpool.adminPassword pgpool adminPassword
  ## @param postgresql-ha.pgpool.image.repository Image repository, eg. `bitnamilegacy/pgpool`.
  ## @param postgresql-ha.pgpool.srCheckPassword pgpool srCheckPassword
  pgpool:
    adminPassword: changeme3
    image:
      repository: bitnamilegacy/pgpool
    srCheckPassword: changeme4

  ## @param postgresql-ha.service.ports.postgresql PostgreSQL service port (overrides `service.ports.postgresql`)
  service:
    ports:
      postgresql: 5432

  ## @param postgresql-ha.persistence.size PVC Storage Request for PostgreSQL HA volume
  persistence:
    size: 10Gi

  ## @param postgresql-ha.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

## @section PostgreSQL
postgresql:
  ## @param postgresql.enabled Enable PostgreSQL
  enabled: true

  ## @param postgresql.global.postgresql.auth.password Password for the `gitea` user (overrides `auth.password`)
  ## @param postgresql.global.postgresql.auth.database Name for a custom database to create (overrides `auth.database`)
  ## @param postgresql.global.postgresql.auth.username Name for a custom user to create (overrides `auth.username`)
  ## @param postgresql.global.postgresql.service.ports.postgresql PostgreSQL service port (overrides `service.ports.postgresql`)
  global:
    postgresql:
      auth:
        password: gitea
        database: gitea
        username: gitea
      service:
        ports:
          postgresql: 5432

  ## @param postgresql.image.repository Image repository, eg. `bitnamilegacy/postgresql`.
  image:
    repository: bitnamilegacy/postgresql

  ## @param postgresql.primary.persistence.size PVC Storage Request for PostgreSQL volume
  primary:
    persistence:
      size: 10Gi

  ## @param postgresql.metrics.image.repository Image repository, eg. `bitnamilegacy/postgres-exporter`.
  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter

  ## @param postgresql.volumePermissions.image.repository Image repository, eg. `bitnamilegacy/os-shell`.
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell

# By default, removed or moved settings that still remain in a user defined values.yaml will cause Helm to fail running the install/update.
# Set it to false to skip this basic validation check.
## @section Advanced
## @param checkDeprecation Set it to false to skip this basic validation check.
## @param test.enabled Set it to false to disable test-connection Pod.
## @param test.image.name Image name for the wget container used in the test-connection Pod.
## @param test.image.tag Image tag for the wget container used in the test-connection Pod.
checkDeprecation: true
test:
  enabled: true
  image:
    name: busybox
    tag: latest

## @param extraDeploy Array of extra objects to deploy with the release
##
extraDeploy: []
