---
- name: Create cert-manager namespace
  kubernetes.core.k8s:
    validate_certs: false
    api_version: v1
    kind: Namespace
    name: cert-manager
    state: present

- name: Read IPA CA cert
  ansible.builtin.slurp:
    src: /etc/ipa/ca.crt
  register: ipa_ca

- name: Create ca-bundle ConfigMap in cert-manager namespace
  kubernetes.core.k8s:
    validate_certs: false
    api_version: v1
    state: present
    resource_definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: ca-bundle
        namespace: cert-manager
      data:
        ca-certificates.crt: "{{ ipa_ca.content | b64decode }}"

- name: Create TSIG secret for RFC2136 challenge
  kubernetes.core.k8s:
    validate_certs: false
    api_version: v1
    state: present
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: ipa-tsig
        namespace: cert-manager
      type: Opaque
      data:
        tsig-secret-key: "{{ cert-manager_tsig_key }}"

- name: Install cert-manager
  kubernetes.core.helm:
    validate_certs: false
    name: cert-manager
    chart_ref: oci://quay.io/jetstack/charts/cert-manager
    release_namespace: cert-manager
    create_namespace: true
    values:
      crds:
        enabled: true
      volumes:
        - name: ca-bundle
          configMap:
            name: ca-bundle
      volumeMounts:
        - name: ca-bundle
          mountPath: /etc/ssl/certs/ca-certificates.crt
          subPath: ca-certificates.crt
          readOnly: false

- name: Install cert-manager config
  kubernetes.core.k8s:
    validate_certs: false
    state: present
    template: resources/cert-manager/cert-manager.yaml.j2
