---
- name: Ansible for all our hosts
  hosts: kube
  vars:
    ipaAdminPass: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30346139343231623764323032313339396438303938313337623233356634336466353864386333
      3836353764356661373266336339643431656162343735390a386432626361616335346663303732
      37616439383562343833383030336265346266353130366164396330303965303762366633653131
      6463306265343939650a303333356565663033626139643536653964646365306537653738623130
      3630
  roles:
    - debian
  remote_user: root

- name: Configure ipa clients
  hosts: kube
  vars:
    ipaAdminPass: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30346139343231623764323032313339396438303938313337623233356634336466353864386333
      3836353764356661373266336339643431656162343735390a386432626361616335346663303732
      37616439383562343833383030336265346266353130366164396330303965303762366633653131
      6463306265343939650a303333356565663033626139643536653964646365306537653738623130
      3630
  roles:
    - ipa
  remote_user: root

- name: Configure adrian@win.home shell env
  hosts: kube
  roles:
    - debianStage2

- name: Install Docker and Kubeadm
  hosts: kube
  become: true
  roles:
    - docker
    - kubeadm
- name: Setup Kubeadm Master
  hosts: master
  become: true
  roles:
    - master
- name: Setup Kubeadm on workers
  become: true
  hosts: worker
  roles:
    - workerJoin
- name: Setup host and cilium
  hosts: localhost
  roles:
    - local
