---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: dash-cert
  namespace: longhorn-system
spec:
  commonName: 'longhorn.{{ dns_domain }}'
  dnsNames:
    - longhorn.{{ dns_domain }}
  issuerRef:
    name: ipa
    kind: ClusterIssuer
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 4096
  secretName: dash-cert
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: longhorn-system 
  name: longhorn-gui
  annotations:
    external-dns.alpha.kubernetes.io/target: dash.{{ dns_domain }}
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`longhorn.{{ dns_domain }}`)
      kind: Rule
      services:
        - name: longhorn-frontend
          port: 80
  tls:
    secretName: dash-cert
